@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.landing {
  height: 100vh;
  width: 100vw;
  background: url("../img/bg2.png") no-repeat center center fixed;
  background-size: cover;
  display: table;
  position: relative;
  color: black;
}

.P1_landing {
  height: 100vh;
  width: 100vw;
  background: url("../img/arm1.png") no-repeat center center fixed;
  background-size: cover;
  display: table;
  position: relative;
  color: white;
}

.p1_landing_text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.p1_landing_text h1 {
  color: white;
  font-size: 6rem;
  text-transform: uppercase;
  padding: 2rem;
  border-radius: 10px 0;
}
.p1_landing_text h2 {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  padding-left: 12rem;
}

.P2_landing {
  height: 100vh;
  width: 100vw;
  background: url("../img/game7.jpg") no-repeat center center fixed;
  background-size: cover;
  display: table;
  position: relative;
  color: white;
  margin-bottom: 15rem;
}

.p2_landing_text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.p2_landing_text h1 {
  color: white;
  font-size: 6rem;
  text-transform: uppercase;
  padding: 2rem;
  border-radius: 10px 0;
}
.p2_landing_text h2 {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  padding-left: 30rem;
}

.landing_text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.landing_text h1 {
  font-size: 6rem;
  text-transform: uppercase;
  padding: 2rem;
  border-radius: 10px 0;
}
.landing_text h2 {
  font-size: 2rem;
  text-transform: uppercase;
  padding-left: 12rem;
}

.main-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100vw;
  padding: 0 10vw;
  color: #000;
  z-index: 1;
  transition: 0.5s ease-out;
}
.main-header a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  align-items: center;
}
.main-header .logo a {
  font-size: 2.5rem;
}
.main-header .nav-links {
  display: flex;
  list-style: none;
  margin: auto 0;
}
.main-header .nav-links .nav-link {
  padding-left: 2rem;
  padding-right: 2rem;
  transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.main-header .nav-links .nav-link:nth-of-type(2) {
  transition-delay: 0.1s;
}
.main-header .nav-links .nav-link:nth-of-type(3) {
  transition-delay: 0.2s;
}
.main-header .nav-links .nav-link a {
  margin: 0.2rem;
  padding: 1rem 0.5rem;
}
.main-header .nav-links .nav-link a:hover {
  color: grey;
}
.main-header .menu-icon {
  position: relative;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;
  display: none;
}
.main-header .menu-icon_line {
  display: block;
  position: relative;
  background: #000;
  transition: background 0.8s ease;
  height: 2px;
  width: 20px;
  border-radius: 4px;
}
.main-header .menu-icon_line::before, .main-header .menu-icon_line::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #000;
  transition: background 0.8s ease;
}
.main-header .menu-icon_line::before {
  transform: translateY(-5px);
}
.main-header .menu-icon_line::after {
  transform: translateY(5px);
}
.main-header .menu-btn {
  display: none;
}
.main-header.scrolled {
  height: 50px;
  background: rgba(0, 0, 0, 0.9);
  color: white;
}
.main-header.scrolled .menu-icon_line, .main-header.scrolled .menu-icon_line::before, .main-header.scrolled .menu-icon_line::after {
  background: white;
}

@media screen and (max-width: 767px) {
  .main-header .menu-icon {
    display: block;
  }
  .main-header .menu-icon_line {
    animation: closedMid 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .menu-icon_line::before {
    animation: closedTop 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .menu-icon_line::after {
    animation: closedBottom 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 24vh;
    font-size: 2rem;
    color: white;
    background: #272727;
    transition: opacity 0.8s 0.5s, -webkit-clip-path 0.8s 0.5s;
    transition: opacity 0.8s 0.5s, clip-path 0.8s 0.5s;
    transition: opacity 0.8s 0.5s, clip-path 0.8s 0.5s, -webkit-clip-path 0.8s 0.5s;
    -webkit-clip-path: circle(200px at top right);
            clip-path: circle(200px at top right);
  }
  .main-header .nav-links .nav-link {
    opacity: 0;
    transform: translateX(100%);
    width: 100%;
    text-align: center;
  }
  .main-header .nav-links .nav-link a {
    display: block;
    padding: 2rem 0;
  }
  .main-header .menu-btn:checked ~ .nav-links {
    opacity: 1;
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.4s ease-in-out 1s, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(1) {
    transition-delay: 0.7s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(2) {
    transition-delay: 0.8s;
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(3) {
    transition-delay: 0.9s;
  }
  .main-header .menu-btn:checked ~ .menu-icon {
    border-radius: 50%;
    animation: pulse 1s;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon_line {
    background: white;
    animation: openMid 0.8s forwards;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon_line::before {
    background: white;
    animation: openTop 0.8s forwards;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon_line::after {
    background: white;
    animation: openBottom 0.8s forwards;
  }

  .landing h1 {
    font-size: 2rem;
  }
}
@keyframes pulse {
  from {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}
@keyframes openTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes openMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes openBottom {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes closedTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
@keyframes closedMid {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes closedBottom {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
.site-main .site-banner {
  padding-left: 10rem;
  background: url("../img/bg11.png") no-repeat 0% 40%;
}
.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  padding-bottom: 0px;
  font-size: 4rem;
  color: black;
  margin: 0;
}
.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 15vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}
.site-main .site-banner .site-title h4 {
  font-size: 2rem;
  padding-bottom: 30px;
  color: black;
  margin: 0;
}
.site-main .site-banner .site-title h2 {
  font-size: 4rem;
  color: black;
  font-weight: 500;
  padding: 10px 0;
  margin: 0;
}
.site-main .site-banner .banner-image img {
  padding: 7rem 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.site-main .site-banner .site-button {
  display: flex;
}

.p1_site-main .site-banner {
  padding-left: 10rem;
}
.p1_site-main .site-banner .site-title h3 {
  padding-top: 35%;
  padding-bottom: 3.5rem;
  font-size: 4rem;
  color: black;
  margin: 0;
}
.p1_site-main .site-banner p {
  padding-bottom: 20px;
}
.p1_site-main .site-banner .site-title h4 {
  font-size: 2.5rem;
  padding-bottom: 50px;
  color: black;
  margin: 0;
}
.p1_site-main .site-banner .site-title h2 {
  font-size: 4rem;
  color: black;
  font-weight: 500;
  padding: 10px 0;
  margin: 0;
}
.p1_site-main .site-banner .banner-image img {
  padding: 7rem 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.p1_site-main .site-banner .site-button {
  display: flex;
}

.p2_site-main .site-banner {
  padding-left: 10rem;
  padding-bottom: 15rem;
}
.p2_site-main .site-banner .site-title h3 {
  padding-top: 15%;
  padding-bottom: 3.5rem;
  font-size: 4rem;
  color: black;
  margin: 0;
}
.p2_site-main .site-banner p {
  padding-bottom: 20px;
}
.p2_site-main .site-banner .site-title h4 {
  font-size: 2.5rem;
  padding-bottom: 50px;
  color: black;
  margin: 0;
}
.p2_site-main .site-banner .site-title h2 {
  font-size: 4rem;
  color: black;
  font-weight: 500;
  padding: 10px 0;
  margin: 0;
}
.p2_site-main .site-banner .banner-image img {
  margin-top: 4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.p2_site-main .site-banner .site-button {
  display: flex;
}

.text-upeercase {
  text-transform: uppercase;
}

.button {
  padding: 1.1rem;
  background: white;
  position: relative;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
}

.primary-button:hover {
  background-clip: padding-box;
  color: black;
  background: #D5D5D5;
}

.site-intro {
  padding-left: 10rem;
  background: url("../img/bg3.png") no-repeat 90% 20%;
}
.site-intro span {
  display: block;
  letter-spacing: 15px;
  font-size: 3rem;
  font-weight: 500;
}
.site-intro p {
  padding: 3rem 0 3rem 0;
}
.site-intro .site-image img {
  padding: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.title-text h2 {
  padding-bottom: 0px;
  font-size: 4rem;
  color: black;
  margin: 0;
  color: black;
}

.p1_site-intro {
  padding-left: 10rem;
}
.p1_site-intro span {
  display: block;
  letter-spacing: 15px;
  font-size: 3rem;
  font-weight: 500;
}
.p1_site-intro p {
  padding: 3rem 0 3rem 0;
}
.p1_site-intro .site-image img {
  padding: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.explanation h4 {
  padding-bottom: 2rem;
  font-weight: bold;
}

.p2_site-intro {
  padding-left: 5rem;
  padding-top: 0;
  margin-top: 0;
}
.p2_site-intro span {
  display: block;
  letter-spacing: 15px;
  font-size: 3rem;
  font-weight: 500;
}
.p2_site-intro .third-part span {
  display: block;
  letter-spacing: 15px;
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 5rem;
}
.p2_site-intro p {
  padding: 5rem;
  margin-bottom: 25%;
}
.p2_site-intro .site-image img {
  padding: 5rem;
  padding-right: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 110%;
}

.explanation h4 {
  padding-bottom: 2rem;
  font-weight: bold;
}

.scroll-banner {
  -webkit-background-size: cover;
  height: 80vh;
  width: 100vw;
  background: url("../img/gun1.jpg") no-repeat center center fixed;
  background-size: cover;
  display: table;
  position: relative;
  color: black;
}

.scroll-banner2 {
  -webkit-background-size: cover;
  height: 80vh;
  width: 100vw;
  background: url("../img/game5.jpg") no-repeat center center fixed;
  background-size: cover;
  display: table;
  position: relative;
  color: black;
}

.scroll-banner3 {
  -webkit-background-size: cover;
  height: 80vh;
  width: 100vw;
  background: url("../img/bg4.png") no-repeat center center fixed;
  background-size: cover;
  display: table;
  position: relative;
  color: black;
}

.carousel-caption {
  padding-bottom: 300px;
}
.carousel-caption .project-text {
  padding: 1rem;
}
.carousel-caption h2 {
  font-size: 5rem;
  font-weight: bold;
}
.carousel-caption h3 {
  padding-bottom: 1rem;
}
.footer-area {
  background: black;
  padding: 4rem 0;
  color: #757575;
}
.footer-area .logo p {
  color: white;
  font-size: 2.5rem;
}
.footer-area .social h5 {
  font-weight: bold;
  font-size: 1.5rem;
}
.footer-area .social a {
  font-size: 22px;
  padding: 2rem 2rem;
  color: white;
}
.footer-area .copyright p {
  padding-top: 1rem;
}
.footer-area .copyright span {
  color: white;
  text-decoration: none;
}
.footer-area .copyright p a span {
  color: white;
  text-decoration: none;
}
.footer-area .copyright p a:hover {
  text-decoration: none;
}
.footer-area .copyright p a span:hover {
  color: grey;
  text-decoration: none;
}

.p1_service-area {
  padding: 7rem 2rem;
  margin-bottom: 20rem;
}
.p1_service-area .services {
  width: 250px;
}
.p1_service-area h2 {
  padding-bottom: 5rem;
}
.p1_service-area .services .card-body {
  padding: 2rem;
}
.p1_service-area .card-body h5 {
  font-weight: bold;
}
.p1_service-area .service-list {
  padding-top: 8rem;
}
.p1_service-area img {
  width: 70vw;
}
.p1_service-area span {
  font-weight: bold;
  color: black;
}
.p1_service-area .service-title {
  padding: 2rem;
  color: black;
  font-weight: 500;
}

.service-area {
  padding: 7rem 2rem;
  margin-bottom: 20rem;
}
.service-area .services {
  width: 250px;
}
.service-area .services .card-body {
  padding: 2rem;
}
.service-area .card-body h5 {
  font-weight: bold;
}
.service-area .service-list {
  padding-top: 8rem;
}
.service-area span {
  font-weight: bold;
  color: black;
}
.service-area .service-title {
  padding: 2rem;
  color: black;
  font-weight: 500;
}

.site-main .citation p {
  padding: 2rem;
}
.site-main .citation a {
  padding-left: 5px;
}
.site-main .citation a:hover {
  color: grey;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0);
  font-family: "Roboto", sans-serif;
}

.padding {
  padding: 200px 0;
}
.padding img {
  width: 100%;
}
.padding .project1 {
  font-size: 1.5rem;
  padding-top: 5rem;
}

.container {
  width: 80%;
  padding-top: 12rem;
}

.container2 {
  width: 80%;
  padding-top: 3rem;
}

container1 {
  width: 100vw;
  padding: 0;
}

.dividerline {
  border-bottom: 2PX Solid black;
}

.dividerline {
  padding-bottom: 4rem;
}

.dividerline h2 {
  color: gray;
}