.site-main .site-banner{
  padding-left: 10rem;
    background: url('../img/bg11.png') no-repeat 0% 40% ;

  .site-title h3{
    padding-top: 35%;
    padding-bottom: 0px;
    font-size: 4rem;
    color: black;
    margin: 0;

    &::after{
      content: '';
      height: 2px;
      width: 15vw;
      background: black;
      display: inline-block;
      margin-left: 5%;
      transform: translateY(-10px);
    }
  }

  .site-title h4{
    font-size: 2rem;
    padding-bottom: 30px;
    color: black;
    margin: 0;
  }

  .site-title h2{
    font-size: 4rem;
    color: black;
      font-weight: 500;
    padding: 10px 0;
    margin: 0;
  }



  .banner-image img{
    padding: 7rem 0;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }

  .site-button{
    display: flex;


  }


}

.p1_site-main .site-banner{
  padding-left: 10rem;


  .site-title h3{
    padding-top: 35%;
    padding-bottom: 3.5rem;

    font-size: 4rem;
    color: black;
    margin: 0;


  }
  p{
    padding-bottom: 20px;

  }

  .site-title h4{
    font-size: 2.5rem;
    padding-bottom: 50px;
    color: black;
    margin: 0;
  }

  .site-title h2{
    font-size: 4rem;
    color: black;
      font-weight: 500;
    padding: 10px 0;
    margin: 0;
  }



  .banner-image img{
    padding: 7rem 0;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }

  .site-button{
    display: flex;


  }


}

// p2
.p2_site-main .site-banner{
  padding-left: 10rem;


  .site-title h3{
    padding-top: 15%;
    padding-bottom: 3.5rem;

    font-size: 4rem;
    color: black;
    margin: 0;


  }
  p{
    padding-bottom: 20px;

  }

  .site-title h4{
    font-size: 2.5rem;
    padding-bottom: 50px;
    color: black;
    margin: 0;
  }

  .site-title h2{
    font-size: 4rem;
    color: black;
      font-weight: 500;
    padding: 10px 0;
    margin: 0;
  }



  .banner-image img{
    margin-top: 4rem;

    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  }



  .site-button{
    display: flex;


  }


}
