
// text
.text-upeercase{
  text-transform: uppercase;
}

.title-text{

}
// button
.button{
  padding:  1.1rem;
  background: white;
  position: relative;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
}

.primary-button:hover{
  background-clip: padding-box;
  color: black;
  background: #D5D5D5;
}
