.footer-area{

  background: black;
  padding: 4rem 0;
  color: #757575;

  .logo p{
    color: white;

    font-size: 2.5rem;
  }


  .social h5{
    font-weight: bold;
    font-size: 1.5rem;
  }
  .social a{
    font-size: 22px;
    padding: 2rem 2rem;
    color: white;
  }

  .copyright p{

    padding-top: 1rem;
  }

  .copyright span{
    color: white;
    text-decoration: none;
  }

  .copyright p a span{
    color: white;
    text-decoration: none;
  }

    .copyright p a:hover{
      text-decoration: none;
    }
    
  .copyright p a span:hover{
    color: grey;
    text-decoration: none;
  }




}
