.site-intro {
  padding-left: 10rem;
    background: url('../img/bg3.png') no-repeat 90% 20% ;



    span{
      display: block;
      letter-spacing: 15px;
      font-size: 3rem;
      font-weight: 500;
    }

    p{
      padding: 3rem  0 3rem 0;
    }

    .site-image img{
     padding: 5rem ;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 100%;
   }
}

.title-text h2{
  padding-top: 10%;
  padding-bottom: 0px;
  font-size: 4rem;
  color: black;
  margin: 0;
  color: black;
}

// p1
.p1_site-intro {
  padding-left: 10rem;




    span{
      display: block;
      letter-spacing: 15px;
      font-size: 3rem;
      font-weight: 500;
    }

    p{
      padding: 3rem  0 3rem 0;
    }

    .site-image img{
     padding: 5rem ;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 100%;
   }
}

.explanation{
  h4{
    padding-bottom: 2rem;
    font-weight: bold;
  }
}
