@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import 'landing';
@import 'header';
@import 'media';
@import 'animations';
@import 'banner1';
@import 'globles';
@import 'intro';
@import 'scrollBanner';


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(0,0,0,0);
  font-family: 'Roboto', sans-serif;
}

.padding{
  padding: 80px 0;


  img{
    width: 100%;
  }

  .project1 {
    font-size: 1.5rem;
    padding-top: 5rem;

  }


}

.container{
  width: 80%;
  padding-top: 12rem;


}

container1{
  width: 100vw;
  padding: 0;
}
