.p1_service-area{
  padding: 7rem 2rem;
  margin-bottom: 20rem;
  .services{
    width: 250px;
  }

   h2{
    
    padding-bottom: 5rem;
  }

  .services .card-body{
    padding: 2rem;
  }

  .card-body h5{
    font-weight: bold;

  }

  .service-list{
    padding-top: 8rem;
  }

  img{
    width: 70vw;
  }
  span{
    font-weight: bold;
    color: black;
  }

  .service-title{
    padding: 2rem;
    color: black;
    font-weight:500;
  }
}


.service-area{
  padding: 7rem 2rem;
  margin-bottom: 20rem;
  .services{
    width: 250px;
  }

  .services .card-body{
    padding: 2rem;
  }

  .card-body h5{
    font-weight: bold;

  }

  .service-list{
    padding-top: 8rem;
  }


  span{
    font-weight: bold;
    color: black;
  }

  .service-title{
    padding: 2rem;
    color: black;
    font-weight:500;
  }
}
